
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

canvas {
  margin-top: 20px;
  border: 1px solid #ccc;
}



  /* Cursor feedback while dragging */
  #canvas.dragging {
    cursor: grabbing !important;
  }

.description {
  margin-bottom: 20px;
  box-align: left;
  text-align:left;
}